@charset "utf-8";
/* CSS Document */
body{ /*background:#C4F0BB;*/}
.listView{}
.listView .personList a{ display:block; background:#FFF;color:#000; padding-top:6px; padding-bottom:6px; border-bottom:#219909 2px solid;}
.listView .personList a img{ max-height:50px;width:auto;}
.listView .personList a h4{ margin-top:3px; margin-bottom:5px;}
.listView .personList a p{ margin-bottom:0; margin-top:3px;}
.personDetails{background:#FFF;color:#000;}
.personDetails img{ margin:10px 0; max-height:100px;}
.topSection{background:#219909; padding:8px 0;color:#219909;}
.topSection h4{color:#FFF; margin:0; margin-bottom:8px; text-transform:uppercase; font-weight:bold;}
.topSection a{ display:inline-block; color:#FFF; text-decoration:none;font-size: 16px;}
.topSection i{ font-size:20px;color:#FFF; vertical-align:top;}
.mainfInfo{ background:#C4F0BB;border-bottom:#219909 2px solid;}
.otherInfo{border-bottom:#CCC 1px solid; padding-bottom:10px;}
.otherInfo h4{ margin-bottom:3px; margin-top:15px;}
.otherInfo span{color:#777; display:block; font-size:13px;}
.addContact-bt{ background:#219909;color:#FFF;font-size:20px;width:40px; height:40px; text-align:center; position:fixed; bottom:20px; right:20px;border-radius:50%;line-height: 40px;cursor:pointer;}
.addressModal{background: rgba(0,0,0,0.5);position: fixed;top:0;right:0;bottom:0;left:0; display:block;text-align: center;z-index: 1050;}
.addressBox{position: relative;background:#FFF; padding:15px; margin:2% 0; height:96%; overflow-y:scroll; display: inline-block;
vertical-align: middle;-webkit-transform: translate(0,0);-ms-transform: translate(0,0);-o-transform: translate(0,0);transform: translate(0,0);-webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
	width:90%;
	text-align:left;
}
.addressBox-title{ background:#EEE; padding:8px 15px; margin-bottom:20px;margin-top: 15px;}
.addressBox-title h4{ margin:0;}
.close{ position:absolute; right:4px; top:4px;opacity: 0.6;}
.close:hover{ opacity:1;}
